.container {
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 2rem 0;
  font-size: 2rem;
}

.section {
  display: flex;
  flex-direction: row;
  width: 20rem;
}

.principal {
  padding: 0 6px;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .title {
    margin: 0;
  }

  .section {
    width: fit-content;
  }
}
