.wrapper {
  margin: 6rem 2rem;
}

.title {
  font-size: 3rem;
}

.smile {
  padding: 0 8px;
}

.section {
  display: flex;
  flex-direction: row;
  width: 20rem;
}

.principal {
  padding: 0 8px;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .title {
    margin: 0;
  }

  .section {
    width: fit-content;
  }
}
