.nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .nav > ul {
    justify-content: flex-end;
  }
}

.nav > ul > li {
  padding: 0 0.5rem;
}

.icon:hover {
  cursor: pointer;
}
