.list {
  margin: 2.5rem 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.postTitle {
  font-size: 32px;
  text-decoration: underline;
}

.postDate {
  font-size: 30px;
}

.list > li {
  padding: 0 0 2rem 0;
}

@media screen and (min-width: 768px) {
  .list {
    margin: 3rem 0;
  }
}
