.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.list {
  display: grid;
}

.selectedWorks {
  display: flex;
  text-align: center;
  color: #a7489b;
  flex-direction: row;
  justify-content: center;
  font-size: 36px;
}

.list > li {
  list-style-type: none;
}

.description {
  margin: 0 2rem;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: column;
    color: white;
    height: 75vh;
    width: 55vw;
  }

  .selectedWorks {
    margin: 0 0 3rem 0;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    row-gap: 25px;
    margin: 0 auto 6rem 0;
  }
}
