.title {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
  text-decoration-color: #a7489b;
  padding: 0 3rem;
}

.content {
  font-size: 22px;
  color: #a7489b;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.date {
  color: white;
}

.description {
  font-size: 22px;
  padding: 0 3rem;
}
